<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <header id="playlist_header" hidden="hidden">
        
    </header>

    <div class="container">
        <div id="PlaylistTableDiv">
            <table id="PlaylistTable">
                <tr>
                </tr>
            </table>    
        </div>

    <div class="container">
        <div class="wrapper">
            Enter Song Name: <input type="text" id="song"/>
            <button id="submit_button"  style="margin-bottom: 50px;">Submit</button>
        </div>
        <div id="songInfo"></div>
    </div>

    <header id="matched_header" hidden="hidden">
        </header>

    <div class="container">
        <div id="Searchtable">
            <table id="SearchTable">
                <tr>
                </tr>
            </table>    

        </div>

    <script src="js/search.js"></script>
    <script src="js/playlist.js"></script>

</body>

</html>
 